<!DOCTYPE html>
<html>
<head>
  <title>ImageApp</title>
  <link href="/assets/jquery.Jcrop.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/jquery.Jcrop.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
